<h1>New product</h1>

<%= render "form", product: @product %>

<%= form_with url: import_products_path, method: :post do |form| %>
  <%= form.file_field :file, accept: ".csv, .tab" %>
  <%= form.button "Import"%>
  <% end %>
<br>

<div>
  <%= link_to "Back to products", products_path %>
</div>
 